*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/java/com/billy/sousbox/sousbox/Keys
/app/src/main/java/com/billy/sousbox/sousbox/Keys/Keys.java
.idea/misc.xml